:root {
  --border: solid 2px black;
}

body {
  background-color: aquamarine;
}

#canvas {
  border: solid 3px black;
  background-color: white;
  display: block;
  margin: 0 auto;
  cursor: url(Brush-icon.png), auto;
}

.properties {
  padding: 15px 15px 10px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap:12px;
}
.clearCanvas,
.undoBtn,
.downloadBtn {
  padding: 7px;
  background-color: black;
  color: white;
  font-weight: 500;
  cursor: pointer;
  border: solid 2px white;
}

.download-drawing {
  color: white;
  text-decoration: none;
}

.colorBtns {
  display: flex;
  gap:13px;
  margin:5px 0;
}
.colorBtns button {
  width: 20px;
  height: 20px;
  margin: 0;
  cursor: pointer;
}
.whiteBrush {
  background-color: white;
  border: var(--border);
}
.blackBrush {
  background-color: black;
  border: solid 2px white;
}
.redBrush {
  background-color: red;
  border: var(--border);
}
.blueBrush {
  background-color: blue;
  border: var(--border);
}
.greenBrush {
  background-color: green;
  border: var(--border);
}
.yellowBrush {
  background-color: yellow;
  border: var(--border);
}
.orangeBrush {
  background-color: orange;
  border: var(--border);
}
.pinkBrush {
  background-color: #ff339a;
  border: var(--border);
}
.purpleBrush {
  background-color: #a020f0;
  border: var(--border);
}

input {
  cursor: pointer;
}

input[type="color" i] {
  width: 40px;
  height: 33px;
  margin: 0;
}




@media only screen and (max-width: 1024px) {
  .clearCanvas,
  .undoBtn,
  .downloadBtn {
    font-size: 12px;
  }
}

@media only screen and (max-width: 620px) {

  .colorBtns button {
    width: 17px;
    height: 17px;
  }
  input[type="color" i] {
    width: 32px;
    height: 25px;
  }
  .properties {
    padding: 13px 15px 10px 15px;
  }
}
