:root {
  --border: solid 2px black;
}

body {
  background-color: aquamarine;
}

#canvas {
  border: solid 3px black;
  background-color: white;
  display: block;
  margin: 0 auto;
  cursor: url(Brush-icon.png), auto;
}

.properties {
  padding: 13px 15px 10px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.clearCanvas,
.undoBtn,
.downloadBtn {
  padding: 7px;
  background-color: black;
  color: white;
  font-weight: 500;
  cursor: pointer;
  border: solid 2px white;
  margin: 3px 7px 0 7px;
}

.download-drawing {
  color: white;
  text-decoration: none;
}

.colorBtns {
  display: flex;
  padding-top: 5px;
}
.colorBtns button {
  width: 20px;
  height: 20px;
  margin: 0 7px;
  cursor: pointer;
}
.whiteBrush {
  background-color: white;
  border: var(--border);
}
.blackBrush {
  background-color: black;
  border: solid 2px white;
}
.redBrush {
  background-color: red;
  border: var(--border);
}
.blueBrush {
  background-color: blue;
  border: var(--border);
}
.greenBrush {
  background-color: green;
  border: var(--border);
}
.yellowBrush {
  background-color: yellow;
  border: var(--border);
}
.orangeBrush {
  background-color: orange;
  border: var(--border);
}
.pinkBrush {
  background-color: #ff339a;
  border: var(--border);
}
.purpleBrush {
  background-color: #a020f0;
  border: var(--border);
}

input {
  margin: 5px 7px 0 7px;
  cursor: pointer;
}

input[type="color" i] {
  width: 40px;
  height: 33px;
}
.brush-width-range {
  margin-top: 10px;
}

.color-picker {
  margin-left: 5px;
}

@media (max-width: 1024px) {
  .clearCanvas,
  .undoBtn,
  .downloadBtn {
    font-size: 12px;
  }
}

@media (max-width: 620px) {
  .clearCanvas,
  .undoBtn,
  .downloadBtn,
  .colorBtns {
    margin-bottom: 3px;
  }
  .colorBtns button {
    width: 15px;
    height: 15px;
    margin: 0 5px;
  }
  input[type="color" i] {
    width: 40px;
    height: 20px;
  }
  .properties {
    padding: 3px 15px 10px 15px;
  }
}
