:root {
  --border: solid 2px black;
}

body {
  background-color: aquamarine;
}

#canvas {
  border: solid 3px black;
  background-color: white;
  display: block;
  margin: 0 auto;
  cursor: url(Brush-icon.png), auto;
}

.properties {
  padding: 13px 40px 10px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.clearCanvas {
  padding: 7px;
  background-color: black;
  color: white;
  font-weight: 500;
  cursor: pointer;
  border: var(--border);
  margin-right: 15px;
}

.colorBtns {
  display: flex;
  padding-top: 8px;
}
.colorBtns button {
  width: 20px;
  height: 20px;
  margin-right: 15px;
  cursor: pointer;
}
.whiteBrush {
  background-color: white;
  border: var(--border);
}
.blackBrush {
  background-color: black;
  border: solid 2px white;
}
.redBrush {
  background-color: red;
  border: var(--border);
}
.blueBrush {
  background-color: blue;
  border: var(--border);
}
.greenBrush {
  background-color: green;
  border: var(--border);
}
.yellowBrush {
  background-color: yellow;
  border: var(--border);
}
.orangeBrush {
  background-color: orange;
  border: var(--border);
}
.pinkBrush {
  background-color: #ff339a;
  border: var(--border);
}
.purpleBrush {
  background-color: #a020f0;
  border: var(--border);
}

input {
  margin-right: 15px;
  margin-top: 5px;
}

.color-picker {
  margin-left: 5px;
}
